.Ultimos {
  width: 100%;
  max-width: 1250px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

}

.Ultimos h1{
  margin: 10px;
}

.Ultimos img {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.Ultimos img:hover {
  cursor: pointer;
}


.GifCarregamento {
  max-width: 350px;
  max-height: 350px;
  filter: contrast(200%);
}